* {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 200px;
  font-style: normal;
}


h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;

}
li {
  font-size: 20px;
  font-style: normal;
}

header {
  background-color: cornsilk;
  padding: 9px;
  box-shadow: 0 0 5px black;
  justify-content: space-between;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 55px;
  padding-right: 90px;
  max-width: 70%;
}
header nav ul li {
  cursor: pointer;
  margin-left: 50px;
}
header nav ul li h3 {
  margin-left: 20px;
}

header nav ul li a {
  text-decoration: none;
  color: black;
  transition: transform 0.3s ease;
}

header nav ul li a:hover,
header nav ul li a:active{
  transform: scale(1.6);
  color: rgb(104, 104, 13);
}
.banner{
  width: 100%;
  overflow: hidden;
}
.banner img{
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}