
img{
   width: 80px ;
    height: 80px;
    margin-left: 50px;
    display: block;
    border-radius: 50% ;
    justify-content: left;
}
header{
    display: flex;
    background-color: aqua;
    box-shadow: 5px 10px #888;
  
}
ul{
    margin-left: 1200px;
    display: flex;
    gap: 2rem;
    list-style-type: none;
    text-align: center;
    text-decoration: none;
}

